//- const pug = require('pug');
//- const index = require('index')
//- const update = require('register_form')
//- const delete = require('delete_form')

html
  head
    title 
    h1 My super duper site
    //- block scripts
    //-   script(src='/jquery.js')
  body
    h1 User form
    block updateUser
    block deleteUser
      //- #footer
      //-   p a random footer content

//- BEFORE
//- extends layout.pug

//- html

//-   head
//-   title Node Exercises 

//-   body
//-   block register_form
//-   block delete_form
