//- extends layout.pug

//- block registerForm
//-   h1.display-4.m-b-2 'User create'
//-   - let userName = 'ToTo';
//-   // register form
//-   form(method='PUT' action='/register')
//-     div.form-group
//-       label(for='userName') userName:
//-       input#userName.form-control(type='text', placeholder='first and last' userName='userName')
//-     button.btn.btn-primary(type='submit') update

//- extends index.pug

//- COPIED
//- block register_form
//-   .main.container
//-     .row
//-       .col-md-6.col-md-offset-3
//-         h1.display-4.m-b-2 User create

//-         // register form
//-         form(method='PUT' action='/register')
//-           div.form-group
//-             label(for='userName') userName:
//-             input#userName.form-control(type='text', placeholder='first and last' userName='userName')
//-           button.btn.btn-primary(type='submit') udate